<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>geticon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>icns2pic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pic2icns.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>seticon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4807A590FCF5F5700A25839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4807B4F0FCF60DC00A25839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4807B5D0FCF610100A25839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4E77EE30FCF64A300CAF741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
